{{ define "main" }}

<!-- http://microformats.org/wiki/h-feed -->
<div class="h-feed">
    <header>
        <data class="u-url" value="{{ .Permalink }}"></data>
        {{ partial "header/author" (dict "page" . "fmt" "u-author") }}

        {{ $title := .Title }}
        {{ $section := .Section }}
        {{ with .File }}
            {{ if (eq .Path "") }}
                <h1 class="p-name">Posts in ‘{{ .Dir | default $section }}’</h1>
            {{ else }}
                <h1 class="p-name">{{ $title }}</h1>
                <h2>Posts in ‘{{ .Dir | default $section }}’</h2>
            {{ end }}
        {{ end }}
    </header>

    {{ range .Pages.GroupByDate "2006" }}
        <h2 id="{{ .Key }}">{{ .Key }}</h2>
        <ul class="no-bullets">
            {{ range .Pages }}
                {{ .Render "li" }}
            {{ end }}
        </ul>
    {{ end }}
</div>

{{ end }}
