{{ define "main" }}             <!-- List of all posts -->

{{ partial "extras/draft" . }}

{{ $has_some_content := (not (eq "" (.Content | replaceRE "[[:^alpha:]]" ""))) }}
{{ if $has_some_content }}
    <article class="post h-entry {{ .Section }}">
        <header>
            <div class="center">{{ partial "taxonomy/taxo-buttons" . }}</div>
            <h1 class="post-title p-name">{{ .Title }}</h1>

            <!-- To complete the h-entry meta-data as per https://indiewebify.me/validate-h-entry/ -->
            <data class="u-url" value="{{ .Permalink }}"></data>
        </header>

        <hr />
        <div class="content">
            {{ partial "header/description" . }}

            {{ partial "header/author" (dict "page" . "fmt" "u-author") }}

            <div class="e-content">
                {{ $content := .Content }}
                <!-- Headline hash -->
                {{ $content = $content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" `${1}&nbsp;<a class="headline-hash no-text-decoration" href="#${2}">#</a> ${3}` }}
                <!-- Replace "<p></div></p>" with "</div>" -->
                {{ $content = $content | replaceRE "<p>(</div>)</p>" "${1}" }}
                {{ $content | safeHTML }}
            </div>
        </div>
        <hr />
    </article>
{{ end }}

<!-- http://microformats.org/wiki/h-feed -->
<section class="h-feed">
    <header>
        <!-- To complete the h-feed meta-data -->
        <data class="u-url" value="{{ .Permalink }}"></data>
        {{ partial "header/author" (dict "page" . "fmt" "u-author") }}
        {{ $term := .Data.Term }}
        {{ $term_count := (len .Pages) }}

        {{ if $has_some_content }}
            {{ $phrase := (index site.Data.taxonomy.phrases .Data.Plural) | replaceRE "%T" (printf "‘%s’" $term) | replaceRE "%N" "this" }}
            <h2 class="p-name">{{ printf "Posts %s (%d)" $phrase $term_count }}</h2>
        {{ else }}
            <div class="center">{{ partial "taxonomy/taxo-buttons" . }}</div>
            {{ $phrase := (index site.Data.taxonomy.phrases .Data.Plural) | replaceRE "%T" (printf "‘%s’" $term) | replaceRE "%N" (printf "‘%s’" .Name) }}
            <h1 class="p-name">{{ printf "Posts %s (%d)" $phrase $term_count }}</h1>
        {{ end }}
    </header>

    {{ range .Pages }}
        {{ .Render "summary" | replaceRE (printf `(li class=")__%s__"` $term) `${1}active"` | safeHTML }}
    {{ end }}

    {{ partialCached "taxonomy/all-terms" . }}
</section>

{{ end }}
