<!-- https://gist.github.com/carlmjohnson/e3716a0a89fab0484d0552a750c8cfb7 -->
{{ range site.Params.custom_css }}
    {{ $asset := . }}
    {{ $resource := resources.Get $asset }}
    {{ if site.Params.css_lazy_load }} <!-- If CSS lazy loading is enabled -->
        {{ if site.Params.cache_busting }}
            {{ if site.IsServer }}
                <link href="{{ $resource.RelPermalink }}?{{ now.Unix }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                <noscript><link rel="stylesheet" href="{{ $asset | relURL }}"></noscript>
            {{ else }}
                {{ $css := $resource | minify | fingerprint }}
                <link href="{{ $css.RelPermalink }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                <noscript><link rel="stylesheet" href="{{ $resource.RelPermalink }}"></noscript>
            {{ end }}
        {{ else }}
            <link href="{{ $resource.RelPermalink }}" rel="preload" as="style" onload="this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="{{ $resource.RelPermalink }}"></noscript>
        {{ end }}
    {{ else }}                  <!-- If CSS lazy loading is disabled (default) -->
        {{ if site.Params.cache_busting }}
            {{ if site.IsServer }}
                <link rel="stylesheet" href="{{ $resource.RelPermalink }}?{{ now.Unix }}">
            {{ else }}
                {{ $css := $resource.RelPermalink | minify | fingerprint }}
                <link rel="stylesheet" href="{{ $resource.RelPermalink }}">
            {{ end }}
        {{ else }}
            <link rel="stylesheet" href="{{ $resource.RelPermalink }}">
        {{ end }}
    {{ end }}
{{ end }}
