{{ partial "footer/scripts/cloudflare" . }}
{{ partial "footer/scripts/mathjax" . }}
{{ partial "footer/scripts/mermaid" . }}
{{ partial "footer/scripts/quicklink" . }}
{{ partial "footer/scripts/lazysizes" . }}
{{ partial "footer/scripts/https_redirection" . }}

{{ with site.Params.custom_js }}
    {{ range site.Params.custom_js }}
        {{ $asset := . }}
        {{ $resource := resources.Get $asset }}
            {{ if site.IsServer }}
                <link rel="preload" href="{{ $resource.RelPermalink }}?{{ now.Unix }}" as="script">
                <script src="{{ $resource.RelPermalink }}?{{ now.Unix }}"></script>
            {{ else }}
                {{ $js := $resource | minify | fingerprint }}
                <link rel="preload" href="{{ $js.RelPermalink }}" as="script" integrity="{{ $js.Data.Integrity }}">
                <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
            {{ end }}
    {{ end }}
{{ end }}

<script>
    function toggleNavBar() {
        var nav = document.getElementById("navbar");
        if (!nav.classList.contains("responsive")) {
            nav.classList.add("responsive");
        } else {
            nav.classList.remove("responsive")
        }
    }
</script>
