{{/*{{ $jqeury := resources.Get "js/libs/jquery/3.4.1/jquery.js" }}*/}}

{{/*{{ if site.IsServer }}*/}}
{{/*    {{ $defaultJS := slice $jqeury | resources.Concat "js/global.js" }}*/}}
{{/*    {{ $globalJS := $defaultJS }}*/}}

{{/*    <!-- Enable HTTP/2 Push -->*/}}
{{/*    <link rel="preload" href="{{ $globalJS.RelPermalink }}?{{ now.Unix }}" as="script">*/}}
{{/*    <script defer src="{{ $globalJS.RelPermalink }}?{{ now.Unix }}"></script>*/}}
{{/*{{ else }}*/}}
{{/*    {{ $defaultJS := slice $jqeury | resources.Concat "js/global.js" }}*/}}
{{/*    {{ $globalJS := $defaultJS | resources.Minify | resources.Fingerprint }}*/}}

{{/*    <!-- Enable HTTP/2 Push -->*/}}
{{/*    <link rel="preload" href="{{ $globalJS.RelPermalink }}" as="script" integrity="{{ $globalJS.Data.Integrity }}">*/}}
{{/*    <script defer src="{{ $globalJS.RelPermalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>*/}}
{{/*{{ end }}*/}}

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e14f712dcb3f4bb7aab3a2f606159e03"}'></script>
<!-- End Cloudflare Web Analytics -->

{{ partial "footer/scripts/mathjax" . }}

{{ $redirection := resources.Get "js/redirection.js" | minify | fingerprint}}
<script integrity="{{ $redirection.Data.Integrity }}">{{ $redirection.Content | safeJS }}</script>

{{ with site.Params.custom_js }}
    {{ range site.Params.custom_js }}
        {{ $asset := . }}
        {{ $resource := resources.Get $asset }}
            {{ if site.IsServer }}
                <link rel="preload" href="{{ $resource.RelPermalink }}?{{ now.Unix }}" as="script">
                <script src="{{ $resource.RelPermalink }}?{{ now.Unix }}"></script>
            {{ else }}
                {{ $js := $resource | minify | fingerprint }}
                <link rel="preload" href="{{ $js.RelPermalink }}" as="script" integrity="{{ $js.Data.Integrity }}">
                <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
            {{ end }}
    {{ end }}
{{ end }}

<script>
    function toggleNavBar() {
        var nav = document.getElementById("navbar");
        if (!nav.classList.contains("responsive")) {
            nav.classList.add("responsive");
        } else {
            nav.classList.remove("responsive")
        }
    }
</script>