{{- $social := .Site.Params.social -}}

{{- if $social -}}
    {{- $configData := .Site.Data.theme.social_menu -}}
    {{- $lang := .Site.Language.Lang -}}
    {{- $config := ( ( index $configData $lang ) | default $configData ) -}}

    <ul class="social-links no-text-decoration">
        {{- range $platform := $config.platforms -}}
            {{- with $username := ( index $social $platform ) -}}
                {{ range $username}}
                    <li>
                        <a href='{{ print ( index $.Site.Data.theme.social.base $platform ) .address }}' target='_blank' rel='noopener'>
                        {{- partial "svg/icons" $platform -}}
                        </a>
                    </li>
                {{- end -}}
            {{ end }}
        {{- end -}}
    </ul>
{{- end -}}