{{ define "main" }}             <!-- List of all posts -->

<!-- http://microformats.org/wiki/h-feed -->
<div class="h-feed">
    <header>
        <!-- To complete the h-feed meta-data -->
        <data class="u-url" value="{{ .Permalink }}"></data>

        {{ $title := .Title }}
        {{ $section := .Section }}
        {{ with .File }}
            {{ if (eq .Path "") }} <!-- Regular section -->
            <h1 class="p-name">Posts in ‘{{ .Dir | default $section }}’</h1>
            {{ else }}                  <!-- Branch bundle based section -->
            <h1 class="p-name">{{ $title }}</h1>
            <h2>Posts in ‘{{ .Dir | default $section }}’</h2>
            {{ end }}
        {{ end }}

    </header>


{{ range .Pages }}
    <article class="post h-entry updates">
        <header>
            <h1 class="post-title p-name no-text-decoration"><a class="u-url" href='{{ .Permalink }}'>{{ .Title }}</a></h1>

            <data class="u-url" value="{{ .Permalink }}"></data>

            <div class="date-syndication">
                {{ $date_format_meta := "2006-01-02T15:04:05-0700" }}
                {{ $date_meta := dateFormat $date_format_meta .Date }}
                {{ $date_display := dateFormat (.Param "dateform") .Date }}
                <div class="post-date">
                    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                        {{ $lastmod_display := dateFormat (.Param "dateform") .Lastmod }}
                        <span class="dt-updated">Last edit: {{ $lastmod_display -}}</span>
                    {{ else }}
                        {{ printf `<time datetime="%s" class="dt-published">%s</time>` $date_meta $date_display | safeHTML }}
                    {{ end }}
                </div>
            </div>
        </header>

        <div class="content">
            <div class="e-content">
            {{ .Content }}
            </div>
        </div>
    </article>

{{ end }}
{{ end }}

{{ define "footer" }}
    {{ partial "extras/jump" }}

    <!-- Back to top -->
    <div class="backtotop center no-text-decoration">
        <a href="#">back to <span class="top">top</span></a>
    </div>
{{ end }}