{{ $url := "/static/data/goodreads.json" }}
{{ $data := getJSON $url }}

{{if $data  }}
    <div class="books">
        <h3>Books</h3>
            {{ range getJSON $url }}
                {{ $book := . }}
                {{ $factor := int "5" }}
                {{ $range1 := div $book.percent_start $factor }}
                {{ $range2 := div (sub $book.percent_current $book.percent_start) $factor }}
                {{ $range3 := div (sub 100 $book.percent_current) $factor }}
                <p>
                    <a href="{{ $book.book_url }}">{{ $book.title }}</a> ({{ $book.author }})<br>
                    <div class="progress">
                    <span style="font-family:Arial;">
                        {{ range seq $range1 }}░{{ end }}{{ range seq $range2 }}▓{{ end }}{{ range seq $range3 }}░{{ end }}
                    </span> &nbsp; {{ if gt (sub $book.percent_current $book.percent_start) 0 }} Progress: {{ $book.percent_start }}-{{ $book.percent_current }}% {{ else }} Progress: 0% {{ end }}
                </div>
                </p>
            {{ end }}
    </div>
{{ end }}