{{ $url := "/data/letterboxd.json" }}
{{ $data := getJSON $url }}

{{if $data }}
<div class="now-boxes">
    <h4>Movies Watched this month</h4>
    <div class="box">
        <p>I am yet to watch a movie this month!!</p>
            {{ range getJSON $url }}
                {{ $movie := . }}
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ $movie.image }}" alt="{{ $movie.title }}">
                    </div>
                    <div class="details">
                        <h4>{{ $movie.watched_date }}</h4>
                        <div class="rating-center">
                            <div class="Stars" style="--rating: {{ $movie.rating }};" aria-label="Rating of this book is {{ $movie.rating }} out of 5."></div>
                        </div>
                    </div>
                </div>
            {{ end }}
    </div>
</div>
{{ end }}