{{ define "main" }}
    {{ $data := "" }}
    {{ if fileExists "/data/library.json" }}
        {{ $url := "/data/library.json" }}
        {{ $data = getJSON $url }}
    {{ end }}
        
    <h1 class="post-title p-name center">{{ .Title }}</h1>
    {{if $data }}
        {{ $unread := slice }}
        {{ $read := slice }}
        {{ $queued := slice }}
        {{ $currently_reading := slice }}
        {{ $recently_finished := slice }}
        {{ range $data }}
            {{ $book := .}}
            {{ if eq $book.bookshelves "unread" }}
                {{ $unread = $unread | append $book }}
            {{ else if eq $book.bookshelves "read" }}
                {{ $read = $read | append $book }}
            {{ else if eq $book.bookshelves "currently_reading" }}
                {{ $currently_reading = $currently_reading | append $book }}
            {{ else if eq $book.bookshelves "recently_finished" }}
                {{ $recently_finished = $recently_finished | append $book }}
            {{ else if eq $book.bookshelves "queued" }}
                {{ $queued = $queued | append $book }}
            {{ end }}
        {{ end }}

        <div class="library">
            {{ if ge ($currently_reading | len) 0 }}
                <div class="read-state two_cols">
                    <p><strong>Currently Reading</strong></p>
                    <ol>
                    {{ range $currently_reading }}
                        {{ $book := . }}
                        <li>
                            <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
                                <div itemprop="name">{{ $book.title }}</div>
                                <div itemprop="author">{{ $book.author }}</div>
                            </div>
                        </li>
                    {{ end }}
                    </ol>
                </div>
            {{ end }}

            {{ if ge ($queued | len) 0 }}
                <div class="read-state two_cols">
                    <p><strong>Queued</strong></p>
                    <ol>
                        {{ range $queued }}
                            {{ $book := . }}
                            <li>
                                <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
                                    <div itemprop="name">{{ $book.title }}</div>
                                    <div itemprop="author">{{ $book.author }}</div>
                                </div>
                            </li>
                        {{ end }}
                    </ol>
                </div>
            {{ end }}

            {{ if ge ($recently_finished | len) 0 }}
                <div class="read-state">
                    <p><strong>Recently Finished</strong></p>
                    <ol>
                        {{ range $recently_finished }}
                        {{ $book := . }}
                        <li>
                            <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
                                <div itemprop="name">{{ if $book.blog_link }}<a href="{{ $book.blog_link }}">{{ end }}{{ $book.title }}{{ if $book.blog_link }}</a>{{ end }}</div>
                                <div itemprop="author">{{ $book.author }}</div>
                                {{ if $book.date_read }}
                                    <div itemprop="dateCreated">{{ $book.date_read}}</div>
                                    <div itemprop="reviewRating" class="star" style="width:{{ mul $book.my_rating 16 }}px"></div>
                                {{ end }}
                            </div>
                        </li>
                        {{ end }}
                    </ol>
                </div>
            {{ end }}

            {{ if ge ($read | len) 0 }}
                <div class="read-state">
                    <p><strong>Read</strong></p>
                    <ol>
                        {{ range $read }}
                        {{ $book := . }}
                        <li>
                            <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
                                <div itemprop="name">{{ if $book.blog_link }}<a href="{{ $book.blog_link }}">{{ end }}{{ $book.title }}{{ if $book.blog_link }}</a>{{ end }}</div>
                                <div itemprop="author">{{ $book.author }}</div>
                                {{ if $book.date_read }}
                                <div itemprop="dateCreated">{{ $book.date_read }}</div>
                                {{ else }}
                                    <div itemprop="dateCreated">-</div>
                                {{ end }}
                                {{ if $book.my_rating }}
                                        <div itemprop="reviewRating" class="star" style="width:{{ mul $book.my_rating 16 }}px"></div>
                                {{ end }}
                            </div>
                        </li>
                        {{ end }}
                    </ol>
                </div>
            {{ end }}

            {{ if ge ($unread | len) 0 }}
                <div class="read-state two_cols">
                    <p><strong>Unread</strong></p>
                    <ol>
                        {{ range $unread }}
                        {{ $book := . }}
                        <li>
                            <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Book">
                                <div itemprop="name">{{ $book.title }}</div>
                                <div itemprop="author">{{ $book.author }}</div>
                                <div itemprop="dateCreated">{{ $book.date_read}}</div>
                            </div>
                        </li>
                        {{ end }}
                    </ol>
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ define "footer" }}
    <!-- Back to top -->
    <div class="backtotop center no-text-decoration">
        <a href="#">back to <span class="top">top</span></a>
    </div>
{{ end }}
