{{ if not ( eq .Section "page" ) }}
    <div class="date-syndication">

        {{ partial "data/date-maybe" (dict "page" . "fmt" (.Param "dateform")) }}
        {{ partial "syndication.html" . }}
    </div>

    {{ partial "entry/meta/reading-time" . }}

    <div class='container sep-before'>
            {{ range $taxonomy, $pages := .Site.Taxonomies }}
                {{- if ( index $.Params $taxonomy ) -}}
                    {{- $.Scratch.Set "taxonomy" $taxonomy -}}
                    {{- partial "entry/taxonomy-list" $ -}}
                {{- end -}}
            {{ end }}
        </div>
{{ end }}