<div class="posts h-feed">
    <header>
        <!-- To complete the h-feed meta-data -->
        <data class="u-url" value="{{ .Permalink }}"></data>
        {{ partial "entry/meta/author" (dict "page" . "fmt" "u-author") }}
        <data class="p-name" value="{{ .Title }}"></data>
    </header>

    {{ $typesToShow := slice "posts" }}
    {{ $paginator := .Paginate (where site.RegularPages "Section" "in" $typesToShow)}}
    {{ range $paginator.Pages }}
        {{ .Render "summary"}}
    {{ end }}
</div>